<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Fetch Lessons</title>
        <!-- Load the Vue.js as a JavaScript library -->
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

<body>
    <p id='response'></p>
    <div id="app">

        <div v-for="lesson in lessons" class="lessonlist">
            </span><br>
            <img v-bind:src="lesson.Image" alt="" width="100px" height="100px">
            <br>
            Subject: {{ lesson.Subject }} <br>
            Location: {{ lesson.Location }} <br>
            Price: £{{ lesson.Price }} <br>
            Spaces: {{ lesson.Spaces }} <br>
            <span v-for="n in lesson.Rating" class="fas fa-star"></span>
            <span v-for="n in 5-lesson.Rating" class="far fa-star"></span> <br><br>
            <br>
        </div>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                lessons: ''
            },
            mounted:function(){
                this.displayData() //this method will execute at pageload
            },
            methods: {
                displayData() {
                    fetch('http://localhost:3000/lessons').then(
                        function (response) {
                            response.json().then(
                                function (json) {
                                    app.lessons = json
                                }
                            )
                        }
                    )
                },
            }
        })
    </script>
</body>

</html>